@use "./mixins";

html {
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;

  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #fadb14;
  --green: #52c41a;
  --teal: #20c997;
  --cyan: #17a2b8;

  --primary: var(--blue);
  --secondary: var(--gray-600);
  --success: var(--green);
  --info: var(--cyan);
  --warning: var(--yellow);
  --danger: var(--red);
  --light: var(--gray-100);
  --dark: var(--gray-800);

  --background-color: var(--white);
  --text-color: var(--black);

  // box shadow
  --box-shadow-sm: 0 0.125rem 0.25rem 0 var(--gray-300);
  --box-shadow: 0 0.5rem 1rem 0 var(--gray-300);
  --box-shadow-lg: 0 1rem 3rem 0 var(--gray-300);
  --box-shadow-inset: inset 0 1px 2px 0 var(--gray-300);
}
html.dark {
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;

  --blue: #458af3;
  --indigo: #8139f5;
  --purple: #875dd4;
  --pink: #f863ae;
  --red: #f05160;
  --orange: #fc8c30;
  --yellow: #fadb14;
  --green: #74e63b;
  --teal: #4de2b5;
  --cyan: #35cbe2;

  --primary: var(--blue);
  --secondary: var(--gray-600);
  --success: var(--green);
  --info: var(--cyan);
  --warning: var(--yellow);
  --danger: var(--red);
  --light: var(--gray-100);
  --dark: var(--gray-800);

  --background-color: var(--black);
  --text-color: var(--white);

  // box shadow
  --box-shadow-sm: 0 0.125rem 0.25rem 0 var(--gray-700);
  --box-shadow: 0 0.5rem 1rem 0 var(--gray-700);
  --box-shadow-lg: 0 1rem 7rem 0 var(--gray-700);
  --box-shadow-inset: inset 0 1px 2px 0 var(--gray-700);
}
